@using CorrectTemp.Controllers;
@using CorrectTemp.Models;
@model IEnumerable<CorrectTemp.Models.Cart>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@using CorrectTemp.Controllers;

<!-- catg header banner section -->
<section id="aa-catg-head-banner">
    <img src="@Url.Content("~/Content/")img/cart-header.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>Cart</h2>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Cart</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->
<!-- Cart view section -->
<section id="cart-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-view-area">
                    <div class="cart-view-table">
                        
                        <form action="">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Product</th>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Sub Total</th>
                                        </tr>
                                    </thead>
                                    @{int total = 0; }
                                    <tbody>
                                        @foreach (Product items in (List<Product>)Session["cart"])
                                        {
                                                <tr>
                                                    <td><a class="remove" href="#">@Html.ActionLink("Remove", "delete", "Product", new { id = items.ItemID }, null)</a></td>
                                                    <td><a href="#"><img src="@Url.Content("~/Content/")img/@(items.ItemID).png" alt="img"></a></td>
                                                    <td>@items.ItemName</td>
                                                    <td>Rs. @items.Price</td>
                                                    <td>@(items.Quantity)</td>
                                                    <td>@(items.Price * items.Quantity)</td>
                                                </tr>
                                                { total += (int)items.Price * items.Quantity; }
                                        }
                                    </tbody>
                                    <caption>@Html.ActionLink("Continue shopping", "Product", "Product", new { @class = "aa-cart-view-btn" } )</caption>
                                </table>
                            </div>
                        </form>
                        <!-- Cart Total view -->
                        <div class="cart-view-total">
                            <h4>               </h4>
                            <table class="aa-totals-table">
                                <tbody>
                                    <tr>
                                        <th>Total</th>
                                        <td>@total</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>@Html.ActionLink("Place order", "checkout_cart", "Product", new { @class = "aa-cart-view-btn" })</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->
